@import "tailwindcss";

@theme {
    --color-facebook: #1877F2;
    --color-twitch: #9146FF; /* Color oficial de Twitch */
    --color-twitter: #1DA1F2;
    --color-github: #333333;
    --color-discord: #5865F2;
}